<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
</head>

<body>

    <div class="container mt-5">
        <h1 class="mb-3">Homepage</h1>
        <div class="table-responsive-md">
            <table class="table">
                <thead>
                    <tr class="table-active">
                        <th scope="col">Company Name</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">No. of Shares</th>
                        <th scope="col">Buying Price</th>
                        <th scope="col">Current Price</th>
                        <th scope="col">STOCK VALUE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in portfolio %}
                    <tr class="table-light">
                        <td>{{ stock["name"] }}</td>
                        <td>{{ stock["symbol"] }}</td>
                        <td>{{ stock["shares"] }}</td>
                        <td>{{ stock["paid_price"] | usd }}</td>
                        <td>{{ stock["current_price"] | usd }}</td>
                        <td>{{ stock["stock_value"] | usd }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="fw-bold text-end" colspan="5">CASH LEFT</td>
                        <td class="text-center">{{ cash_left | usd }}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold text-end" colspan="5">TOTAL</td>
                        <td class="text-center">{{ total_amount | usd }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</body>

</html>
